body{
	margin:0;padding:0;
	background:#333;
	color:white;
}
#container{
	width:500px;
	height:120px;
	margin:auto;
	border-radius:5px;
	background:#666;
	margin-top:100px;
	padding:40px 0;
	box-shadow:0 0 10px black;
}
table{
	width:330px;
	text-align:center;
	margin:auto;
}
input[type=text],input[type=password]{
	width:200px;
	padding:5px 10px;
}
input[type=submit],input[type=button]{
	padding:5px 15px;
	background:#ddd;
	border-radius:4px;
	border:0;
	cursor:pointer;
	-webkit-transition: background .4s ease-in-out;
}
input[type=submit]:hover,input[type=button]:hover{
	background:white;
}