
.timeZone {
  font-size: 12px;
  color: #999999;
  width: 900px;
}
.timeZone th {
  background-image: url("area_title_bg.png");
  text-align: left;
  font-weight: normal;
}
.timeZone th span,
.timeZone th input {
  display: inline-block;
  float: left;
}
.timeZone th input {
  margin-top: 3px;
  margin-right: 4px;
}
.timeZone input {
  margin: 0;
  padding: 0;
}
.timeZone th,
.timeZone td {
  padding-right: 15px;
  padding-left: 15px;
}
.timeZone td {
  border-bottom: 1px dashed #cccccc;
}
.timeZone td span {
  width: 18px;
  height: 23px;
  line-height: 23px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #eeeeee;
  text-align: center;
  cursor: pointer;
}
.timeZone td span.selected {
  background-color: #0055cc;
  border: 1px solid #0055cc;
}
.timeZone td.hover {
  background-color: #dff0d8;
}
.area-bottom {
  background-color: #fbfbfb;
  padding: 16px 0;
}
.area-bottom a:first-child {
  margin-left: 16px;
}