<link rel="stylesheet" href="/stylesheets/dailyreports.css">
<link rel="stylesheet" href="/css/index.css">

<div class="wrapper">
	<h3>添加日报</h3>
	<form action="" method="post">
		<textarea name="" id="" cols="100" rows="10"></textarea>
		<input type="submit" value="写好了">
	</form>
</div>